<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BookHub</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/c8672ac77d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default navigation-clean">
            <div class="container">
                <a class="navbar-brand" a href="@Url.Action("Index", "Home")">
                    BookHub
                   @* <div class="navbar-header"><a href="@Url.Action("Index", "Home")"><img src="~/Content/Images/logo.png" style="width: 40px;margin-top: 5px;" /></a></div>*@
                </a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li role="presentation"><a href="#"><i class="fas fa-chart-bar"></i>Популярне</a></li>
                        <li role="presentation"><a href="#"><i class="fas fa-book"></i>Книжки</a></li>
                    </ul>
                    <ul class="nav navbar-nav" style="float: right;">
                        <li role="presentation"><a href="#"><i class="fas fa-search" data-toggle="tooltip" data-placement="bottom" title="Пошука за назвою"></i></a></li>

                        @if (!Request.IsAuthenticated) { 
                            <li role="presentation"><a href="@Url.Action("Index", "Account")"><i class="fas fa-sign-in-alt"></i></a></li>
                        }
                        else
                        {

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        &copy; 2019 - BookHub - Create by Michael Kunynets
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>